.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
}

.ui.borderless.secondmenu.menu {
  box-shadow: none;
  border: none;
}

.murphys-background {
  background: url(http://murphyshawaii.com/media/2014/04/murphys-front.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  color: white;
}

.bg {
  margin: 0 auto;
  max-width: 80em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.col {
  margin: 0;
  width: 50%;
  padding: 2em;
}

.col img {
  width: 100%;
}

.right.floated.center.aligned.hbtitle.column {
  padding-top: 300px;
}

.footer-background {
  background-color: #004030;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
